.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Size of leaflet map container */
.leaflet-container {
  height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#homescreen {
  width: 100%;
  height: 100%;
}

#display-pane {
  height: 100%;
  display: flex; 
  flex-flow: row;
}

#visual-pane {
  min-height: 100%;
  width: 50%;
  overflow-y: auto;
}

#map-pane {
  min-height: 100%;
  width: 50%;
}

#visual-box {
  display: flex;
  flex-flow: column;
}

#visual-box {
  padding: 0;
}

#team-name-text {
  color: #0d6efd;
}

/* #welcome-text {
  margin: 0 auto;
  width: 75%;
  padding-top: 15px;
  padding-bottom: 4px;
}

#getting-started-text {
  margin: 0 auto;
  width: 75%;
  padding-bottom: 12px;
} */

#state-info-text {
  margin: 0 auto;
  width: 25%;
  padding-top: 15px;
  padding-bottom: 4px;
}

#selected-state-text {
  margin: 0 auto;
  width: 25%;
  padding-bottom: 12px;
}

#district-plan-text {
  margin: 0 auto;
  width: 25%;
  padding-bottom: 12px;
}

/* #political-results-header {
  margin: 0 auto;
  width: 25%;
  padding-bottom: 4px;
}

#political-results-text {
  margin: 0 auto;
  width: 25%;
  padding-bottom: 15px;
} */

/* Scrollbar css */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
